{% extends 'main/base.html' %}

{% block content %}
<section class="classes-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="classes-details-text">
                    <div class="cd-text">
                        <h3>Are you sure you want to delete "{{ nutritionist.nom_complet }}"?</h3>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="site-btn sb-dark">Delete</button>
                            <a href="{% url 'nutritionist_list' %}" class="site-btn">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

